<div class='jumbotron'>
	<h1>Welcome to Rate This</h1>
	<p>Log in to start rating stuff or if you don't have an account.</p>
	<%= link_to 'Sign up', signup_path, class: 'btn btn-primary btn-lg'%>
	
</div>