<h1>Choose a City</h1>
<ul class='col-2'>
<% @state.cities.each do |f| %>
	<li class='street-sign'><%= link_to f, :controller => 'intersections', :action => 'index', :id => f, :id2 => @state.id %></li>
<% end %>
</ul>