<h1>Choose an Intersection</h1>
<ul class='col-2'>
<% @intersections.each do |f| %>
	<% streets = f.formatted_address.split(',')[0]%>
	<li class='street-sign'><%= link_to streets, f %></li>
<% end %>
</ul>